.skill-card {
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: fit;
  padding: 0.2rem 5px;
  transition: 0.3 ease-in-out;
}
